{% extends "base.html" %}

{% block content %}

    <h1> {{ title }} </h1>
    <h3> {{ welcome }} </h3>
    <form method= 'POST'>
        <label> BLoG title: <br>
            <input type= "text" name= "title" value= "{{ newblog_title }}" />
        </label>
            <span class= "error"> {{ title_blank }} </span>
            <br>
            <br>
        <label> BLoG text: <br>
            <textarea name= "body">{{ newblog_body }}</textarea>
        </label>
            <span class= "error"> {{ body_blank }} </span>
            <br>
            <br>
        <input type= 'submit' value= "Post BLoG" />
    </form>

{% endblock %}